@font-face {
  font-family: 'HelveticaNeueCyrThin';
  src: url("../fonts/HelveticaNeueCyrThin.eot");
  src: url("../fonts/HelveticaNeueCyrThin.eot") format("embedded-opentype"), url("../fonts/HelveticaNeueCyrThin.woff2") format("woff2"), url("../fonts/HelveticaNeueCyrThin.woff") format("woff"), url("../fonts/HelveticaNeueCyrThin.ttf") format("truetype"), url("../fonts/HelveticaNeueCyrThin.svg#HelveticaNeueCyrThin") format("svg"); }
@font-face {
  font-family: 'HelveticaNeueCyrLight';
  src: url("../fonts/HelveticaNeueCyrLight.eot");
  src: url("../fonts/HelveticaNeueCyrLight.eot") format("embedded-opentype"), url("../fonts/HelveticaNeueCyrLight.woff2") format("woff2"), url("../fonts/HelveticaNeueCyrLight.woff") format("woff"), url("../fonts/HelveticaNeueCyrLight.ttf") format("truetype"), url("../fonts/HelveticaNeueCyrLight.svg#HelveticaNeueCyrLight") format("svg"); }
@font-face {
  font-family: 'HelveticaNeueCyrBlack';
  src: url("../fonts/HelveticaNeueCyrBlack.eot");
  src: url("../fonts/HelveticaNeueCyrBlack.eot") format("embedded-opentype"), url("../fonts/HelveticaNeueCyrBlack.woff2") format("woff2"), url("../fonts/HelveticaNeueCyrBlack.woff") format("woff"), url("../fonts/HelveticaNeueCyrBlack.ttf") format("truetype"), url("../fonts/HelveticaNeueCyrBlack.svg#HelveticaNeueCyrBlack") format("svg"); }
@font-face {
  font-family: 'HelveticaNeueCyrBold';
  src: url("../fonts/HelveticaNeueCyrBold.eot");
  src: url("../fonts/HelveticaNeueCyrBold.eot") format("embedded-opentype"), url("../fonts/HelveticaNeueCyrBold.woff2") format("woff2"), url("../fonts/HelveticaNeueCyrBold.woff") format("woff"), url("../fonts/HelveticaNeueCyrBold.ttf") format("truetype"), url("../fonts/HelveticaNeueCyrBold.svg#HelveticaNeueCyrBold") format("svg"); }
@font-face {
  font-family: 'HelveticaNeueCyrMedium';
  src: url("../fonts/HelveticaNeueCyrMedium.eot");
  src: url("../fonts/HelveticaNeueCyrMedium.eot") format("embedded-opentype"), url("../fonts/HelveticaNeueCyrMedium.woff2") format("woff2"), url("../fonts/HelveticaNeueCyrMedium.woff") format("woff"), url("../fonts/HelveticaNeueCyrMedium.ttf") format("truetype"), url("../fonts/HelveticaNeueCyrMedium.svg#HelveticaNeueCyrMedium") format("svg"); }
@font-face {
  font-family: 'HelveticaNeueCyrThin';
  src: url("../fonts/HelveticaNeueCyrThin.eot");
  src: url("../fonts/HelveticaNeueCyrThin.eot") format("embedded-opentype"), url("../fonts/HelveticaNeueCyrThin.woff2") format("woff2"), url("../fonts/HelveticaNeueCyrThin.woff") format("woff"), url("../fonts/HelveticaNeueCyrThin.ttf") format("truetype"), url("../fonts/HelveticaNeueCyrThin.svg#HelveticaNeueCyrThin") format("svg"); }
.fotorama__arr {
  width: 30px !important;
  height: 54px !important;
  background: url("../img/arrow395-next.png") !important;
  background-repeat: no-repeat !important;
  display: block !important;
  -webkit-background-size: contain !important;
  -o-background-size: contain !important;
  background-size: contain !important; }
  .fotorama__arr--next {
    opacity: 1 !important;
    display: block !important;
    transform: none !important;
    right: 3% !important; }
  .fotorama__arr--prev {
    opacity: 1 !important;
    display: block !important;
    transform: none !important;
    background: url("../img/arrow395.png") !important;
    background-repeat: no-repeat !important;
    left: 3% !important;
    -webkit-background-size: contain !important;
    -o-background-size: contain !important;
    background-size: contain !important; }
  .fotorama__arr--disabled {
    display: block !important;
    opacity: 0 !important; }

.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr,
.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon {
  opacity: 1 !important; }

.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__arr--prev {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none; }

.fotorama__arr--prev .fotorama__arr--disabled {
  display: block !important; }

.fotorama__arr.fotorama__arr--next.fotorama__arr--disabled {
  display: block !important;
  opacity: 1 !important; }

.fotorama__arr.fotorama__arr--prev.fotorama__arr--disabled {
  display: block !important;
  opacity: 1 !important; }

html,
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: "HelveticaNeueCyrLight"; }

a {
  text-decoration: none; }
  a:hover, a:focus, a:active {
    outline: none; }

ul {
  list-style-type: none; }

b {
  font-family: "HelveticaNeueCyrBlack"; }

.block_title {
  color: #1795e3;
  font-family: "HelveticaNeueCyrMedium";
  font-size: 50px;
  text-align: center;
  margin-top: 15px; }

.block_descript {
  font-family: "HelveticaNeueCyrLight";
  font-size: 35px;
  text-align: center;
  color: #3b2820;
  font-family: "HelveticaNeueCyrLight";
  font-size: 25px; }

.p0 {
  padding: 0; }

.green {
  color: #a3c821; }

.blue {
  color: #1795e3; }

.al {
  text-align: left; }

.ar {
  text-align: right; }

.hidden {
  opacity: 0; }

.visible {
  visibility: visible !important;
  opacity: 1; }

@media (min-width: 1200px) {
  .container {
    width: 1170px; } }
a#go_about {
  display: block;
  position: relative;
  top: -80px; }

a#go_serv {
  display: block;
  position: relative;
  top: -80px; }

a#go_cont {
  display: block;
  position: relative;
  top: -85px; }

a#go_ben {
  display: block;
  position: relative;
  top: -110px; }

.write_us {
  display: block;
  float: left;
  padding: 5px 15px !important;
  margin: 10px auto;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #1795e3;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear; }
  .write_us:hover {
    background-color: #1795e3 !important;
    color: #FFF !important; }

.modal-header {
  border-bottom: none; }

.navigation {
  display: none;
  padding: 10px 0;
  font-family: "HelveticaNeueCyrLight";
  font-size: 18px; }
  .navigation .navbar-toggle {
    margin: 0 10px; }

.header {
  padding: 90px 0;
  background-image: url("../img/head_bg.png");
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%; }
  .header__logo img {
    display: block;
    width: 75%;
    margin: 0 auto; }
  .header__contacts p {
    color: #fff;
    font-family: "HelveticaNeueCyrBold";
    font-size: 21px;
    font-weight: bold;
    text-shadow: 0 1px 2px rgba(0, 0, 1, 0.75);
    margin-bottom: 0; }
  .header__contacts h3 {
    color: #fff;
    font-family: "HelveticaNeueCyrBold";
    font-size: 32px;
    font-weight: bold;
    text-shadow: 0 1px 2px rgba(0, 0, 1, 0.75);
    margin: 0 0 10px; }
  .header__tittle {
    margin: 150px 0; }
    .header__tittle h1 {
      text-align: center;
      color: #fff;
      font-family: "HelveticaNeueCyrMedium";
      font-size: 58px;
      text-shadow: 3px 4px 4px rgba(0, 0, 1, 0.75); }

.about {
  padding: 90px 0;
  background-color: #FBFBFB;
  background-image: url("../img/Vector-Smart Object.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-background-size: 50%;
  -o-background-size: 50%;
  background-size: 50%;
  display: block;
  float: left;
  width: 100%; }
  .about__tittle {
    margin-bottom: 70px; }
  .about__img-lg {
    display: inline-block;
    position: relative;
    padding-bottom: 80px; }
    .about__img-lg img {
      width: 90%;
      float: right; }
  .about__img-sm {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40%; }
    .about__img-sm img {
      width: 100%; }
  .about__desc {
    margin-top: 100px;
    opacity: 0;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear; }
    .about__desc p {
      font-family: "HelveticaNeueCyrMedium"; }

.services {
  padding: 90px 0;
  display: block;
  float: left;
  width: 100%; }
  .services__box {
    margin: 50px 0;
    opacity: 0;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear; }
  .services img {
    width: 100%; }
  .services p {
    font-size: 16px;
    text-align: center; }
  .services h4 {
    font-size: 29px;
    text-align: center;
    margin: 0 0 10px 0; }
  .services--desc {
    display: block;
    position: relative;
    padding-top: 15%; }
    .services--desc-1:before {
      content: "";
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-right: 15px solid #fff;
      border-bottom: 10px solid transparent;
      position: absolute;
      left: -30px;
      bottom: 30px;
      z-index: 99; }
    .services--desc-2:before {
      content: "";
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-left: 15px solid #fff;
      border-bottom: 10px solid transparent;
      position: absolute;
      right: -30px;
      top: 30px;
      z-index: 99; }
    .services--desc-3:before {
      content: "";
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-bottom: 15px solid #fff;
      border-right: 10px solid transparent;
      position: absolute;
      top: -15px;
      left: 30px;
      z-index: 99; }
    .services--desc-4:before {
      content: "";
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-top: 15px solid #fff;
      border-right: 10px solid transparent;
      position: absolute;
      bottom: -14px;
      left: 30px;
      z-index: 99; }

.order {
  background-image: url("../img/contact-bg.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  padding: 150px 0 90px;
  display: block;
  float: left;
  width: 100%; }
  .order h5 {
    color: #303139;
    font-family: "HelveticaNeueCyrBold";
    font-size: 23px; }
  .order p {
    color: #23272b;
    font-size: 16px;
    font-family: "HelveticaNeueCyrMedium"; }
  .order small {
    color: #6bace7;
    margin-top: 10px;
    font-size: 12px;
    display: block;
    float: left; }
  .order__form {
    background-color: #FFF;
    display: block;
    padding: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    margin-top: 25px; }
    .order__form--input {
      border: none;
      outline: none;
      height: 45px;
      line-height: 45px;
      padding: 0 15px;
      font-size: 16px; }
    .order__form--sub {
      border: none;
      outline: none;
      height: 45px;
      -webkit-border-radius: 3px/3px 3px 3px 3px;
      -moz-border-radius: 3px/3px 3px 3px 3px;
      -ms-border-radius: 3px/3px 3px 3px 3px;
      border-radius: 3px/3px 3px 3px 3px;
      -o-background-clip: padding-box;
      background-clip: padding-box;
      background-color: #6aace7;
      width: 80%;
      display: block;
      float: right;
      text-transform: uppercase;
      color: #FFF;
      font-size: 16px;
      font-family: "HelveticaNeueCyrLight"; }
      .order__form--sub:hover {
        background-color: #3e94e0; }

.benefits {
  display: block;
  float: left;
  width: 100%;
  position: relative;
  padding: 90px 0; }
  .benefits__item {
    margin: 25px 0;
    padding: 15px 0;
    opacity: 0;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear; }
    .benefits__item-icon {
      display: block;
      margin: 15px auto;
      width: 199px;
      height: 199px;
      padding: 45px 0;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      -ms-border-radius: 100px;
      border-radius: 100px;
      -o-background-clip: padding-box;
      background-clip: padding-box;
      background-color: #6fa7db; }
      .benefits__item-icon img {
        display: block;
        margin: 0 auto; }
    .benefits__item h4 {
      text-align: center;
      font-family: "HelveticaNeueCyrBold";
      font-size: 23px; }
    .benefits__item p {
      text-align: center;
      font-size: 13px; }

.partners {
  display: block;
  float: left;
  width: 100%;
  position: relative;
  background-color: #1795e3;
  padding: 50px 0; }
  .partners img {
    width: auto;
    display: block;
    margin: 10px auto;
    line-height: 34px; }

.contacts {
  display: block;
  float: left;
  width: 100%;
  position: relative;
  padding: 25px 0 90px; }
  .contacts h4 {
    color: #ababab;
    font-family: "HelveticaNeueCyrThin";
    font-size: 25px; }
  .contacts--input {
    display: block;
    width: 100%;
    height: 36px;
    padding: 0 15px;
    line-height: 36px;
    margin: 20px 0;
    border: none;
    border-bottom: 2px solid #aeacac;
    color: #525252;
    font-size: 15px;
    outline: none;
    position: relative; }
  .contacts--text {
    display: block;
    width: 100%;
    height: 36px;
    padding: 0 15px;
    margin: 50px 0 20px;
    border: none;
    border-bottom: 2px solid #aeacac;
    resize: none;
    outline: none;
    color: #525252;
    font-size: 15px; }
  .contacts--sub {
    display: block;
    width: 100%;
    text-align: center;
    height: 40px;
    background-color: rgba(255, 255, 255, 0);
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    border: 1px solid #43D9E5;
    margin: 20px 0 20px 0;
    font-size: 15px;
    outline: none;
    color: #525252;
    cursor: pointer; }
    .contacts--sub:hover, .contacts--sub:active, .contacts--sub:focus {
      background-color: #43D9E5;
      color: #fff; }
  .contacts__animated {
    opacity: 0;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear; }

@media only screen and (max-width: 770px) {
  .order__form--sub {
    width: 100%; }

  .contacts h4 {
    font-size: 20px; }

  .navbar-header {
    max-width: 30%;
    padding-top: 10px; } }
@media only screen and (max-width: 480px) {
  .services--desc-1:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-bottom: 15px solid #fff;
    border-right: 10px solid transparent;
    position: absolute;
    top: -25px;
    left: 30px;
    bottom: inherit;
    z-index: 99; }

  .services--desc-2:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-top: 15px solid #fff;
    border-right: 10px solid transparent;
    position: absolute;
    bottom: -25px;
    left: 30px;
    z-index: 99;
    top: inherit; }

  .contacts h4 {
    font-size: 18px; }

  .ar, .al {
    text-align: center; }

  .order__form--sub {
    width: 100%; }

  .navbar-header {
    max-width: 100%;
    padding: 0;
    margin-left: 0; }

  .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin-left: 0; } }
.footer {
  display: block;
  float: left;
  width: 100%;
  position: relative;
  padding: 40px 0;
  background-color: #70A0CC; }
  .footer__logo img {
    width: 100%; }
  .footer p {
    font-size: 14px;
    color: #FFF; }

/*# sourceMappingURL=style.css.map */
