.footer {
	display: block;
	float: left;
	width: 100%;
	position: relative;
	padding: 40px 0;
	background-color: #70A0CC;
	z-index: 99;
	&__logo {
		img {
			width: 100%;
		}
	}
	p {
		font-size: 14px;
		color: #FFF;
	}
}