.about {
	padding: 90px 0;
	background-color: #FBFBFB;
	background-image: url('../img/Vector-Smart Object.png');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	-webkit-background-size: 50%;
	     -o-background-size: 50%;
	        background-size: 50%;
	display: block;
    float: left;
    width: 100%;
    position: relative;
    z-index: 99;
	&__tittle {
		margin-bottom: 70px;
	}
	&__img-lg {
		display: inline-block;
		position: relative;
		padding-bottom: 80px;
		img {
			width: 90%;
			float: right;
		}		
	}
	&__img-sm {
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 40%;
		img {
			width: 100%;
		}
	}
	&__desc {
		margin-top: 100px;
		opacity: 0;
		@include transition(0.5s);
		p {
			font-family: $m;
		}
	}
}

.services {
	padding: 90px 0;
	display: block;
    float: left;
    width: 100%;
    position: relative;
    z-index: 99;
    background-color: #FFF;
    word-spacing: nowrap;
	vertical-align: middle;
	&:after {
		content: "";
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}
	img {		
		min-height: 100%;
		vertical-align: middle;
	}
	&__box {
		display: block;
		float: left;
		margin: 50px 0;
		opacity: 0;
		@include transition(0.5s);
		@include box-shadow(0px, 3px, 10px, rgba(0, 0, 0, 0.2));
	}
	p {
		font-size: 16px;
		text-align: center;
	}
	h4 {
		font-size: 29px;
		text-align: center;
		margin: 0 0 10px 0;
	}
	&--desc {
		display: block;
		position: relative;
		padding-top: 15%;
		// &-1 {
		// 	@include transition(0.5s);
		// 	&:before {
		// 		content: "";
		// 		width: 0;
		// 		height: 0;
		// 		border-top: 10px solid transparent;
		// 		border-right: 15px solid #fff;
		// 		border-bottom: 10px solid transparent;
		// 		position: absolute;
		// 		left: -30px;
		// 		bottom: 30px;
		// 		z-index: 99;
		// 	}
		// }
		// &-2 {
		// 	@include transition(0.5s);
			/* &:before {
				content: "";
				width: 0;
				height: 0;
				border-top: 10px solid transparent;
				border-left: 15px solid #fff;
				border-bottom: 10px solid transparent;
				position: absolute;
				right: -30px;
				top: 30px;
				z-index: 99;
			} */
		// }
		// &-3 {
		// 	&:before {
				/* content: "";
				width: 0;
				height: 0;
				border-left: 10px solid transparent;
				border-bottom: 15px solid #fff;
				border-right: 10px solid transparent;
				position: absolute;
				top: -15px;
				left: 30px;
				z-index: 99; */
		// 	}
		// }
		// &-4 {
			
			/* &:before {
				content: "";
				width: 0;
				height: 0;
				border-left: 10px solid transparent;
				border-top: 15px solid #fff;
				border-right: 10px solid transparent;
				position: absolute;
				bottom: -14px;
				left: 30px;
				z-index: 99;
			} */
		// }
		
	}
	&-search:hover  {	
		.oh {
			img {
				@include transition(0.5s);
				-webkit-transform: scale(1.2);
				   -moz-transform: scale(1.2);
				    -ms-transform: scale(1.2);
				     -o-transform: scale(1.2);
				        transform: scale(1.2);
			}
		}
		.services--desc {
			&-1{
				@include transition(0.5s);
				&:before {
					content: "";
					width: 0;
					height: 0;
					border-top: 10px solid transparent;
					border-right: 15px solid #fff;
					border-bottom: 10px solid transparent;
					position: absolute;
					left: -30px;
					bottom: 30px;
					z-index: 99;
				}
			}
		}
	}
	&-place:hover  {	
		.oh {
			img {
				@include transition(0.5s);
				-webkit-transform: scale(1.2);
				   -moz-transform: scale(1.2);
				    -ms-transform: scale(1.2);
				     -o-transform: scale(1.2);
				        transform: scale(1.2);
			}
		}	
		.services--desc {
			&-2 {
				&:before {
					content: "";
					width: 0;
					height: 0;
					border-top: 10px solid transparent;
					border-left: 15px solid #fff;
					border-bottom: 10px solid transparent;
					position: absolute;
					right: -30px;
					top: 30px;
					z-index: 99;
				}
			}
		}
	}
	&-quality:hover  {
		.oh {
			img {
				@include transition(0.5s);
				-webkit-transform: scale(1.2);
				   -moz-transform: scale(1.2);
				    -ms-transform: scale(1.2);
				     -o-transform: scale(1.2);
				        transform: scale(1.2);
			}
		}		
		.services--desc {
			&-3 {
				&:before {
					content: "";
					width: 0;
					height: 0;
					border-left: 10px solid transparent;
					border-bottom: 15px solid #fff;
					border-right: 10px solid transparent;
					position: absolute;
					top: -15px;
					left: 30px;
					z-index: 99;
				}
			}
		}
	}
	&-shipping:hover  {	
		.oh {
			img {
				@include transition(0.5s);
				-webkit-transform: scale(1.2);
				   -moz-transform: scale(1.2);
				    -ms-transform: scale(1.2);
				     -o-transform: scale(1.2);
				        transform: scale(1.2);
			}
		}
		.services--desc {
			&-4 {
				&:before {
					content: "";
					width: 0;
					height: 0;
					border-left: 10px solid transparent;
					border-top: 15px solid #fff;
					border-right: 10px solid transparent;
					position: absolute;
					bottom: -14px;
					left: 30px;
					z-index: 99;
				}
			}		
		}
	}
}

.order {
	background-image: url('../img/contact-bg.png');
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	background-position: 50% 50%;
	padding: 150px 0 90px;
    display: block;
    float: left;
    width: 100%;
    position: relative;
    z-index: 99;
	h5 {
		color: #303139;
		font-family: $b;
		font-size: 23px;
	}
	p {
		color: #23272b;
		font-size: 16px;
		font-family: $m;
	}
	small {
		color: #6bace7;
		margin-top: 10px;
		font-size: 12px;
		display: block;
		float: left;
	}
	&__form {
		background-color: #FFF;
		display: block;
		padding: 3px;
		@include border-radius(3px);
		margin-top: 25px;
		&--input {
			border: none;
			outline: none;
			height: 45px;
			line-height: 45px;
			padding: 0 15px;
			font-size: 16px;
		}
		&--sub {
			border: none;
			outline: none;			
			height: 45px;
			@include border-radius(3px / 3px 3px 3px 3px);
			@include background-clip(padding-box);
			background-color: #6aace7;
			width: 80%;
			display: block;
			float: right;
			text-transform: uppercase;
			color: #FFF;
			font-size: 16px;
			font-family: $l;
			&:hover {
				background-color: darken(#6aace7, 10%);
			}
		}
	}
}

.benefits {
	z-index: 99;
	display: block;
	float: left;
	width: 100%;
	position: relative;
	padding: 90px 0;
	background-color: #FFF;
	&__item {
		margin: 25px 0;
		padding: 15px 0;
		opacity: 0;
		@include transition (0.5s);
		&-icon {
			display: block;
			margin: 15px auto;
			width: 199px;
			height: 199px;
			padding: 45px 0;
			@include border-radius(100px);
			@include background-clip(padding-box);
			background-color: #6fa7db;
			img {
				display: block;
				margin: 0 auto;				
			}
		}
		h4 {
			text-align: center;
			font-family: $b;
			font-size: 23px;
			
		}
		p {
			text-align: center;
			font-size: 13px;
		}
	}
}

.partners {
	z-index: 99;
	display: block;
	float: left;
	width: 100%;
	position: relative;
	background-color: $blue;
	padding: 50px 0;
	img {
		width: auto;
		display: block;
		margin: 10px auto;
		line-height: 34px;
		
	}
}

.contacts {
	z-index: 99;
	display: block;
	float: left;
	width: 100%;
	position: relative;
	padding: 25px 0 90px;
	background-color: #FFF;
	h4 {
		color: #ababab;
		font-family:$th;
		font-size: 25px;
	}
	&--input {
		display: block;
		width: 100%;
		height: 36px;
		padding: 0 15px;
		line-height: 36px;
		margin: 20px 0;
		border: none;
		border-bottom: 2px solid #aeacac;
		color: #525252;
		font-size: 15px;
		outline: none;
		position: relative;		
	}
	&--text {
		display: block;
		width: 100%;
		height: 36px;
		padding: 0 15px;
		margin: 50px 0 20px;
		border: none;
		border-bottom: 2px solid #aeacac;
		resize: none;
		outline: none;
		color: #525252;
		font-size: 15px;	
	}
 	&--sub {
		display: block;
		width: 100%;
		text-align: center;
		height: 40px;
		background-color: rgba(255, 255, 255, 0);
		@include transition(0.3s);
		border: 1px solid #43D9E5;
		margin: 20px 0 20px 0;
		font-size: 15px;
		outline: none;
		color: #525252;
		cursor: pointer;
		&:hover, &:active, &:focus {
			background-color: #43D9E5;
			color: #fff;
		}
	}
	&__animated {
		opacity: 0;
		@include transition (0.5s);
	}
}

.prod {
	padding: 90px 0;
	display: block;
    float: left;
    width: 100%;
    position: relative;
    z-index: 99;
    background-color: #FFF;
    word-spacing: nowrap;
	vertical-align: middle;
	&:after {
		content: "";
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}
	img {
		width: 100%;
		height: auto;
	}
	.slide-image {
		margin-bottom: 15px;
	}
}



@media only screen and (max-width: 770px) {
	.order__form--sub {
		width: 100%;
	}

	.contacts { 
		h4 {
			font-size: 20px;
		}
	}
	.navbar-header {
		max-width: 30%;
		padding-top: 10px;
	}
}

@media only screen and (max-width: 480px) {

	.services-search {		
		.services--desc {
			&-1{
				@include transition(0.5s);
				&:before {
				content: "";
				width: 0;
				height: 0;
				border-left: 10px solid transparent;
				border-bottom: 15px solid #fff;
				border-right: 10px solid transparent;
				position: absolute;
				top: -15px;
				left: 30px;
				bottom: inherit;				
				z-index: 99;
				}
			}
		}
	}
	// .services-search:hover {		
	// 	.services--desc {
	// 		&-1{
	// 			@include transition(0.5s);
	// 			&:before {
	// 				content: none;

	// 			}
	// 		}
	// 	}
	// }
	.services-place  {		
		.services--desc {
			&-2 {
				&:before {
					content: "";
					width: 0;
					height: 0;
					border-left: 10px solid transparent;
					border-top: 15px solid #fff;
					border-right: 10px solid transparent;
					position: absolute;
					bottom: -15px;
					left: 30px;
					z-index: 99;
					top: inherit;
				}
			}
		}
	}

	.services-quality  {		
		.services--desc {
			&-3 {
				&:before {
					content: "";
					width: 0;
					height: 0;
					border-left: 10px solid transparent;
					border-bottom: 15px solid #fff;
					border-right: 10px solid transparent;
					position: absolute;
					top: -15px;
					left: 30px;
					z-index: 99;
				}
			}
		}
	}
	.services-shipping  {	
		.services--desc {
			&-4 {
				&:before {
					content: "";
					width: 0;
					height: 0;
					border-left: 10px solid transparent;
					border-top: 15px solid #fff;
					border-right: 10px solid transparent;
					position: absolute;
					bottom: -14px;
					left: 30px;
					z-index: 99;
				}
			}		
		}
	}
   	
	// .services--desc-1 {
	// 	&:before {
	// 		content: "";
	// 		width: 0;
	// 		height: 0;
	// 		border-left: 10px solid transparent;
	// 		border-bottom: 15px solid #fff;
	// 		border-right: 10px solid transparent;
	// 		position: absolute;
	// 		top: -25px;
	// 		left: 30px;
	// 		bottom: inherit;				
	// 		z-index: 99;
	// 	}
	// }
	// .services--desc-2 {		
	// 	&:before {
	// 		content: "";
	// 		width: 0;
	// 		height: 0;
	// 		border-left: 10px solid transparent;
	// 		border-top: 15px solid #fff;
	// 		border-right: 10px solid transparent;
	// 		position: absolute;
	// 		bottom: -25px;
	// 		left: 30px;
	// 		z-index: 99;
	// 		top: inherit;
	// 	}
	// }		
	.contacts { 
		h4 {
			font-size: 18px;
		}
	}
	.ar, .al {
		text-align: center;		
	}

	.order__form--sub {
		width: 100%;
	}
	.navbar-header {
		max-width: 100%;
		padding: 0;
		margin-left: 0;
	}

	.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
		margin-left: 0;
	}

	.header {
		position: relative;
	}
  
}
