$blue: #1795e3;
$green: #a3c821;


html,
body {
	margin: 0;
	padding: 0;	
	background-color: #fff;
	font-family: $l;
}

a {
	text-decoration: none;
	&:hover, &:focus, &:active{
		outline: none;
	}
}

ul {
	list-style-type: none;
}

b {
	font-family: $bl;
}

.block_title {
	color: $blue;
	font-family: $m;
	font-size: 50px;
	text-align: center;
	margin-top: 15px;	
}

.block_descript {
	font-family: $l;
	font-size: 35px;
	text-align: center;
	color: #3b2820;
	font-family: $l;
	font-size: 25px;
}

.p0 {
	padding: 0;	
}

.green {
	color: $green;
}
.blue {
	color: $blue;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}



