a#go_serv {
    display: block;
    position: relative;
    top: -49px;
}

a#go_store {
    display: block;
    position: relative;
    top: -70px;
}

a#go_materials {
    display: block;
    position: relative;
    top: -60px;
}

a#go_contacts {
    display: block;
    position: relative;
    top: -55px;
}

a#go_about {
	display: block;
	position: relative;
	top: -110px;
}